/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.input-wrapper{
 margin: 10px;
}
.input-field
{
  width: 200px;
  height: 30px;
}

.button
{
  width: 200px;
  height: 30px;
}
.container
{

  text-align: center;
}
.button-link
{
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: rgb(55, 110, 214);
  margin: 20px;
}