.header-wrapper
{
     display: flex;
     justify-content: space-between;
}

.header-wrapper ul
{
    display: flex;
}

.header-wrapper ul li
{
    list-style: none;
    padding: 5px;
}
.header-wrapper ul li a
{
    text-decoration: none;
}

.footer-wrapper
{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    background-color: rgba(240, 248, 255, 0.836);
    text-align: center;
}